<div class='monkeywidget'>
  <style>
  .monkeywidget {
    /*font-family: 'Open Sans', sans-serif;*/
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 16px;

    height: auto;
    max-width: {{style.box_size}};
    width:auto;
    border: solid {{style.border_size}} {{style.border_color}};
    border-radius: 2%;
    overflow: hidden;

    padding-top: 0.94rem;
    padding-bottom: 0.94rem;

  }

  .monkeywidget > * {
    padding-left: 1.12rem;
    padding-right: 1.12rem;
  }

  .monkeywidget_product_box_itempricing {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    position: relative;
    top: 2em;

    padding-top: 0px;

    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    

    align-items: center;
    vertical-align: middle;
  }

  .monkeywidget > .monkeywidget_product_box_itemdetails {
    -webkit-flex: 2 1 auto;
    text-align: left;
    flex: 2 1 auto;
    width: auto;
  }

  .monkeywidget > .monkeywidget_product_box_itempricing > * {
    padding: 0px;
    margin: 0px;
    font-size: 13px;
  }
  .monkeywidget > .monkeywidget_product_box_imageitem {
    width: auto;
    height: auto;
    flex-shrink: 0;
    border: 10px;
    position: center;
  }

  /*large*/
  @media screen and (min-width: 800px) {
    .monkeywidget {
      -webkit-flex-flow: row ;
      flex-flow: row ;
    }
    .monkeywidget > .monkeywidget_product_box_imageitem { order: 1; }
    .monkeywidget > .monkeywidget_product_box_itemdetails    { order: 1;}
    .monkeywidget > .monkeywidget_product_box_itempricing {
      order: 3;
      -webkit-flex-flow: column ;
      flex-flow: column ;
      align-items: center;
      }
   }

  /*medium*/
  @media screen and (max-width: 800px) and (min-width: 500px) {
    .monkeywidget > .monkeywidget_product_box_imageitem { order: 1; }

    .monkeywidget > .monkeywidget_product_box_itempricing {
      order: 3;
      -webkit-flex-flow: row wrap;
      flex-flow: row wrap;

      -webkit-flex-shrink: 0;
      flex-shrink: 0;

      justify-content: space-around;
      width: 100%;

      vertical-align: middle;

      border-top: solid 1px #eaeaea;
      
      padding-top: 0.85rem;
      padding-bottom: 2rem;
      }

    .monkeywidget > .monkeywidget_product_box_itemdetails {
      order: 1;
      flex: 2 60%;
    }

    .monkeywidget > * {
      padding: 0px;
    }


  }


  /*small*/
  @media screen and (max-width: 499px) {
    .monkeywidget{
      align-content: center;
       }
    .monkeywidget > .monkeywidget_product_box_imageitem {
      order: 1;
      align-items: center;
    }

    .monkeywidget > .monkeywidget_product_box_itempricing {
      order: 3;
      -webkit-flex-flow: column;
      flex-flow: column;
      align-items: center;
      width: 100%;
      vertical-align: middle;

      border-top: solid 1px #eaeaea;
     }

    .monkeywidget > .monkeywidget_product_box_itemdetails {
      order: 2;
      width: 66%;
      padding:5px;
      text-align: center;
      }

      .monkeywidget_product_box_imageitem{
        margin:auto;
      }

      .monkeywidget_product_box_description{
        display: none;
      }

      .monkeywidget > * {
        /**padding: 0px;**/
      }

      .monkeywidget_product_box_itemdetails > .monkeywidget_product_box_headline{
        top:0px;
      }

      .monkeywidget_product_box_itemdetails{
        /**padding: 0px;**/
      }

      .monkeywidget_product_box_itempricing{
        padding-bottom: 1.5rem;
        padding-top: 0.2rem;
      }

  }

  .monkeywidget_product_box_description{
      margin: 0px;
      font-size: small;
  }

  .monkeywidget_product_box_headlinelink {
    line-height: inherit;
    text-decoration: none;
    color: #939898;
    font-size: 1.31rem;
    text-align: left!important;
  }

  .monkeywidget_product_box_headlinelink:hover {
    text-decoration: none;
    color: #000;
    line-height: inherit;
  }

  .monkeywidget_product_box_storename{
    font-size: 0.88rem;
    line-height: 1rem;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 95%;
    padding: 0px;
    margin: 0px;
    font-weight: 200;
    color:#939898;;
  }

  .monkeywidget_product_box_social-proof {
    display: inline;
    font-weight: bold;
    color: #000;
  }
  .monkeywidget_product_box_headline {
    position: relative;
    top: 2em;
  }

  .monkeywidget_product_box_disclosure {
    font-size: 0.78rem;
    line-height: 1.2;
    font-weight: 200;
  }

  .monkeywidget_product_box_buybutton {
    line-height: 24px;
    text-align: center;
    flex-shrink: 0;

    margin: 0;
    padding: 0;

    font-style: normal;
    font-weight: normal;
    color: #000;
  }


  .monkeywidget_product_box_button {
    background-color: inherit;
    color: {{style.button_text_color}};
    /**height: 40px;
    line-height: 40px;**/
    border: 1px solid {{style.button_color}};
    border-radius: 20px;
    font-size: 13px;
    text-transform: uppercase;
    /** border: transparent 1px solid; */
    letter-spacing: 0.5px;

    /**padding-left: 1.65rem;
    padding-right: 1.65rem;**/
    padding:5px;

    width:110px;

    display: inline-block;
    text-decoration: none;
    text-align: center;
    position: relative;

    box-shadow: none;
  }
  a.monkeywidget_product_box_button {
      box-shadow: none;
  }



  .monkeywidget_product_box_button:hover {
    color: {{style.button_text_hover_color}};
    background-color: {{style.button_hover_color}};
    text-decoration: none;
  }
  .monkeywidget_product_box_price{
      color:#939898;
  }
</style>
  <div class='monkeywidget_product_box_imageitem'>
    <a target="_blank" class="affmonkey-trackable-link" rel="nofollow" href="{{products.0.aff_link}}" data-destination='{{products.0.url}}' data-partner-id='{{partner_id}}' data-source-app='product-box'>
    <img style='max-width:100px;max-height:130px;' src='{{products.0.image}}' alt='{{products.0.title}}'></a>
  </div>
  <div class='monkeywidget_product_box_itemdetails'>
    <span class='monkeywidget_product_box_headline'>
      <a target='_blank' data-destination='{{products.0.url}}' data-partner-id='{{partner_id}}' data-source-app='product-box' rel="nofollow" class='monkeywidget_product_box_headlinelink affmonkey-trackable-link' href='{{products.0.aff_link}}'>
     {{products.0.title}}</a></h6>
     <p class="monkeywidget_product_box_description">
      {{products.0.description}}
    </p>
    </span>
    

  </div>

  <div class='monkeywidget_product_box_itempricing'>
    <div class='monkeywidget_product_box_price'><span> {{products.0.currency}}{{products.0.money}}</span></div>
    <div class='monkeywidget_product_box_buybutton'>
      <a target='_blank' data-destination='{{products.0.url}}' data-partner-id='{{partner_id}}' data-source-app='product-box' class='monkeywidget_product_box_button affmonkey-trackable-link' href='{{products.0.aff_link}}' rel="nofollow">Shop Now</a>
    </div>
    <div class='monkeywidget_product_box_storename'>on {{products.0.store_name}}</div>
  </div>
</div>