    
    
    <div class="box">
        
        <div class="affiliatemonkey-single-row-widget-box">
        {{#products}}
            <div class="affiliatemonkey-single-row-widget-item-box">
                <div class="affiliatemonkey-single-row-widget-item-image-container">
                    <center>
                        <a href="{{aff_link}}" rel="nofollow" target="_blank"><img style="max-width:80px; max-height:100px;" src="{{image}}" class="affiliatemonkey-item affiliatemonkey-single-row-widget-item-image affmonkey-trackable-link" data-destination='{{url}}' data-partner-id='{{../partner_id}}' data-source-app='single-row' /></a>
                    </center>   
                </div>

                <div class="affiliatemonkey-single-row-widget-item-label" style="text-align: center;">
                    <a href="{{aff_link}}" target="_blank" class='affmonkey-trackable-link' rel="nofollow" data-destination='{{url}}' data-partner-id='{{../partner_id}}' data-source-app='single-row'><span style="font-size:small;color: #939898;">{{currency}}{{money}}</span></a>
                </div>
            </div>
        {{/products}}
        </div>

    </div>